# numpy array function & slicing

## basic functions

In [1]:
import numpy as np
array1=np.array([[1,2,3.6,4],[5,6,7.8,8]])
print(array1)

[[1.  2.  3.6 4. ]
 [5.  6.  7.8 8. ]]

In [2]:
array1.shape

(2, 4)

In [3]:
array1.dtype

dtype('float64')

In [4]:
# import numpy as np
# array1=np.array([[1,2,3.6,4],[5,6,7.8,8]],dtype='int32')
# print(array1)

In [5]:
array1.dtype

dtype('float64')

In [6]:
np.zeros((4,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [7]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [8]:
np.empty((4,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [9]:
array1

array([[1. , 2. , 3.6, 4. ],
       [5. , 6. , 7.8, 8. ]])

In [10]:
array1*array1

array([[ 1.  ,  4.  , 12.96, 16.  ],
       [25.  , 36.  , 60.84, 64.  ]])

In [11]:
array1**array1

array([[1.00000000e+00, 4.00000000e+00, 1.00621087e+02, 2.56000000e+02],
       [3.12500000e+03, 4.66560000e+04, 9.08527131e+06, 1.67772160e+07]])

In [12]:
1/array1

array([[1.        , 0.5       , 0.27777778, 0.25      ],
       [0.2       , 0.16666667, 0.12820513, 0.125     ]])

## slicing

In [13]:
# array2=np.array([1,2,3,4,5,6])

In [14]:
# arr=array2[4:6]

In [15]:
# arr

In [16]:
# arr[0]=0

In [17]:
# array2

## the array2 & arr are work as pointer so that why value is change in array2 , you see in line 22 but if you don't face this type of problem so write a one method below

In [18]:
# you have write a copy() in line 19
array2=np.array([1,2,3,4,5,6])
arr=array2[4:6].copy()
arr[0]=0
array2

array([1, 2, 3, 4, 5, 6])

we are study about slicing in multidimensional array

In [19]:
array1

array([[1. , 2. , 3.6, 4. ],
       [5. , 6. , 7.8, 8. ]])

In [20]:
array1[0]

array([1. , 2. , 3.6, 4. ])

In [21]:
array1[0][2]

3.6

In [22]:
array1[1]

array([5. , 6. , 7.8, 8. ])

In [23]:
array1[1][2]

7.8

## numpy -func=axis

In [24]:
a=np.array([[1,2,3],[1,2,3]])

In [25]:
a.sum(axis=1)
# 1+2+3=6,1+2+3=6
# axis=1 is doing sum with row.

array([6, 6])

In [26]:
a.sum(axis=0)
# 1+1=2,2+2=4,3+3=6
# axis=0 is doing sum with column

array([2, 4, 6])

In [27]:
b=np.array([[4,5,6],[6,5,4]])

## transpose

In [28]:
np.dot(a,b.transpose())

array([[32, 28],
       [32, 28]])

## cross

In [29]:
np.cross(a,b)

array([[-3,  6, -3],
       [-7, 14, -7]])

## sorting

In [30]:
a1=np.array([[3,2,1],[9,0,8]])

In [31]:
np.sort(a1)

array([[1, 2, 3],
       [0, 8, 9]])

In [32]:
np.sort(a1,axis=0)

array([[3, 0, 1],
       [9, 2, 8]])

In [33]:
np.sort(a1,axis=1)

array([[1, 2, 3],
       [0, 8, 9]])

if you know which sort is suitable for different arrays and you want to use it

In [34]:
np.sort(a1,axis=1,kind='mergesort')

array([[1, 2, 3],
       [0, 8, 9]])

## args sort ,argmax and argmin

In [35]:
ar=np.arange(5)

In [36]:
ar

array([0, 1, 2, 3, 4])

In [37]:
b1=np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
# np.reshape(b1,(6,4))

In [38]:
b1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [39]:
b2=np.array([4,8,7,1,0,3,2,7,8,4,9,3,6,8,1,0,2])

In [40]:
np.argsort(b2)
# the position of smallest element
# for ex:in b2,1st smallest element is 0 at 4th position.

array([ 4, 15, 14,  3, 16,  6, 11,  5,  9,  0, 12,  2,  7, 13,  1,  8, 10],
      dtype=int32)

In [41]:
np.argmin(b2)

4

In [42]:
np.argmax(b2)

10

**reshape & ravel most imp function**

In [43]:
aran=np.arange(8).reshape(2, 4)

In [44]:
print(aran)

[[0 1 2 3]
 [4 5 6 7]]

In [45]:
aran1=np.arange(8).reshape(4,2 )

In [46]:
print(aran1)

[[0 1]
 [2 3]
 [4 5]
 [6 7]]

In [47]:
import numpy as np
aran2=np.array([[7,5,3,2],
                [1,0,2,5],
                [2,4,6,8]])
aran3=aran2.reshape(4,3)
print(aran3)

[[7 5 3]
 [2 1 0]
 [2 5 2]
 [4 6 8]]

In [48]:
aran2
#see, aran2 is not change 
np.shape(aran2)

(3, 4)

In [49]:
# but if you want to change 
aran2=np.array([[7,5,3,2],
                [1,0,2,5],
                [2,4,6,8]])
aran2=aran2.reshape(4,3)
print(aran2)

[[7 5 3]
 [2 1 0]
 [2 5 2]
 [4 6 8]]

In [50]:
aran2
#it is change

array([[7, 5, 3],
       [2, 1, 0],
       [2, 5, 2],
       [4, 6, 8]])

In [51]:
#ravel function 
aran2=aran2.ravel()
aran2

array([7, 5, 3, 2, 1, 0, 2, 5, 2, 4, 6, 8])

In [52]:
# flatten array
aran2=np.array([[7,5,3,2],
                [1,0,2,5],
                [2,4,6,8]])
a=aran2.flatten()
a

array([7, 5, 3, 2, 1, 0, 2, 5, 2, 4, 6, 8])

**arange function's give a numpy array not list-array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])**

In [53]:
ar5=np.arange(10)

In [54]:
ar5

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

**linspace function -  returns evenly spaced values within a given interval.**

In [55]:
ls=np.linspace(1,9,3)
# 1 and 9 are interval
# 3 is return the no of element

In [56]:
ls

array([1., 5., 9.])

In [57]:
ls1=np.linspace(1,2,4)

In [58]:
ls1

array([1.        , 1.33333333, 1.66666667, 2.        ])

**empty  & empty_like function**

In [59]:
e=np.empty((2,5))

In [60]:
e

array([[1.20993287e-312, 0.00000000e+000, 1.06395697e+224,
        4.17842893e-062, 3.21879188e-057],
       [1.08411264e-042, 8.84345425e+165, 4.86448580e-086,
        3.51151606e+151, 6.32619120e-310]])

In [61]:
e1=np.empty_like(ls1)
# empty_like return copy array and print empty array

In [62]:
e1

array([1.        , 1.33333333, 1.66666667, 2.        ])

In [63]:
e2=np.empty_like((2,3))

In [64]:
e2

array([         0, 1073741824])

**identity-if you write np.identity than it's give 8*8 matrix**

In [65]:
ide=np.identity(8)

In [66]:
ide

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [67]:
np.shape(ide)

(8, 8)

In [68]:
ide1=np.identity(90)

In [69]:
ide1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [70]:
np.shape(ide1)

(90, 90)

**traspose array**

In [71]:
aran2

array([[7, 5, 3, 2],
       [1, 0, 2, 5],
       [2, 4, 6, 8]])

In [72]:
aran2.T

array([[7, 1, 2],
       [5, 0, 4],
       [3, 2, 6],
       [2, 5, 8]])

**dimensional array**

In [73]:
aran2.ndim

2

**flat**

In [74]:

for item in aran2:
    print(item)

[7 5 3 2]
[1 0 2 5]
[2 4 6 8]

**size**

In [75]:
aran2.size

12

**nbytes**

In [76]:
aran2.nbytes

48

**square root and square**

In [77]:
aran2

array([[7, 5, 3, 2],
       [1, 0, 2, 5],
       [2, 4, 6, 8]])

In [78]:
np.sqrt(aran2)

array([[2.64575131, 2.23606798, 1.73205081, 1.41421356],
       [1.        , 0.        , 1.41421356, 2.23606798],
       [1.41421356, 2.        , 2.44948974, 2.82842712]])

In [79]:
np.square(aran2)

array([[49, 25,  9,  4],
       [ 1,  0,  4, 25],
       [ 4, 16, 36, 64]], dtype=int32)

**how fine the element-**
**where function**

In [80]:
aran2

array([[7, 5, 3, 2],
       [1, 0, 2, 5],
       [2, 4, 6, 8]])

In [81]:
np.where(aran2>5)

(array([0, 2, 2], dtype=int32), array([0, 2, 3], dtype=int32))

In [82]:
type(np.where(aran2>5))

tuple

**how to non zero element**

In [83]:
np.count_nonzero(aran2)

11

In [84]:
np.nonzero(aran2)

(array([0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 2], dtype=int32),
 array([0, 1, 2, 3, 0, 2, 3, 0, 1, 2, 3], dtype=int32))

**space complexity**

In [85]:
import sys

In [86]:
p_a=[1,7,9,4]

In [87]:
n_a=np.array(p_a)

In [88]:
sys.getsizeof(1)*len(p_a)

56

In [89]:
n_a.itemsize*n_a.size

16